## Python Basic Programming Exercises

### Q1

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

5 + 4 * 9 % (3 + 1) / 6 - 1
5 + 4 * 9 % 4 / 6 - 1
5 + 36 % 4 / 6 - 1
5 + 0 / 6 - 1
5 + 0.0 - 1
5.0-1
4.0

In [1]:
5 + 4 * 9 % (3 + 1) / 6 - 1

4.0

### Q2

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [2]:
num = int(input("Enter a number: "))
print("Number: ", num)

if num % 2 == 0 :
    print(num,"is Even!")
else:
    print(num,"is Odd!")

Enter a number: 5
Number:  5
5 is Odd!

### Q3

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [3]:
num = int(input("Enter the number: "))

for i in range(1, 11, 1):
    print(num, " * ", i, " = " , num * i )

Enter the number: 10
10  *  1  =  10
10  *  2  =  20
10  *  3  =  30
10  *  4  =  40
10  *  5  =  50
10  *  6  =  60
10  *  7  =  70
10  *  8  =  80
10  *  9  =  90
10  *  10  =  100

In [ ]:
### Q4

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [4]:
for i in range (2000,3201):
    if i%7==0:
        if i%5!=0:
            print(i ,end=',')
print('\b')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

### Q5

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [5]:
l =[ 2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7 ] 

print(l)

count_int = 0
count_float = 0
count_str = 0
count_bool = 0
count_none = 0

for i in l:
    if type(i) == int:
        count_int = count_int + 1
        
    elif type(i) == float: 
        count_float = count_float + 1
        
    elif type(i) == str: 
        count_str = count_str + 1
        
    elif type(i) == bool: 
        count_bool = count_bool + 1
        
    else: 
        count_none = count_none + 1
        
        
print("int: ", count_int)
    
print("float: ", count_float)
        
print ("str: ", count_str)
        
print("bool: ", count_bool)
        
print("none: ", count_none)

[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
int:  5
float:  1
str:  4
bool:  1
none:  1

### Q6

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [6]:
lst_2 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
res = [x for x in lst_2 if type(x)==int or type(x)==float]
print(sum(res))

21.5

### Q7

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [7]:
lst_3 =  [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]  

str_list = list(filter(lambda x:isinstance (x,str),lst_3))
mystring ="-".join(map(str,str_list))
print(mystring)

Py-10-SQL-John

### Q8

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [8]:
list1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 


def my_func(l):
    dict1 = {}
    
    dict1['sum of all number (exclude bool)'] = sum ([float(i) for i in l if type(i) == int or type(i) == float ])
    dict1['count of all str'] = len([str(i) for i in l if type(i) == str])
    return dict1

my_func(list1)

{'sum of all number (exclude bool)': 21.5, 'count of all str': 4}

### Q9

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [9]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

# i. Use loops to get the answer
odd_list = []
for x in li:
    if x % 2 != 0:
        odd_list.append(x)
print('Using loops to get the answer :',odd_list)

Using loops to get the answer : [5, 7, 97, 77, 23, 73, 61]

In [ ]:

# ii. Use list comprehensions

odd_list = [x for x in li if x % 2 !=0]
print('list comprehensions :',odd_list)

In [11]:
# iii. Use lambda function with filter

odd_list = list(filter(lambda x: (x % 2 != 0), li))
print ('lambda function with filter :',odd_list)

lambda function with filter : [5, 7, 97, 77, 23, 73, 61]

### Q10

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [12]:
from statistics import mean
def my_agg(l1,agg_type):
    agg_type = agg_type.lower()
    l1 = [i if str(i).isnumeric() else 0 for i in l1]
    if agg_type == 'sum':
        result = 0
        for i in l1:
            result = result + i
        return result
        if agg_type == 'count':
            result = len(l1)
        return result
    
    
    if agg_type == 'max':
        result = max(l1)
        return result
    
    if agg_type == 'min':
        result = min(l1)
        return result
    
    if agg_type == 'mean':
        result = mean(l1)
        return result
       
    
my_agg([1,2,2,3,4],'mean')

2.4

### Q11

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [13]:
shape_name = input('Enter the name of shape whose area you want to find : ')

def calculate_area(name):
    name = name.lower()
    
    if name == 'square':
        s = float(input("Enter square's side length : "))

        # calculate area of square
        sqt_area = s * s
        print(f'The area of square is {sqt_area}.')
        
    elif name == 'rectangle':
        l = float(input("Enter rectangle's length : "))
        w = float(input("Enter rectangle's width : "))

        # calculate area of rectangle
        rect_area = l * w
        print(f'The area of rectangle is {rect_area}.') 
        
    elif name == 'circle':
        r = float(input("Enter circle's radius length: "))
        pi = 3.14

        # calculate area of circle
        circ_area = pi * r * r
        print(f'The area of triangle is {circ_area}. ')
        
        
calculate_area(shape_name)

Enter the name of shape whose area you want to find : square
Enter square's side length : 9.2
The area of square is 84.63999999999999.

### Q12

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [14]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

def my_func(l1,l2):
    x=set(l1)
    y=set(l2)
    result = {}
    result['Matched'] = list(x.intersection(y))
    result['only in l1'] =list( x-y)
    result['only in l2'] = list(y-x)
    return result
my_func(l1,l2)

{'Matched': ['June', 'December', 'February', 'January'],
 'only in l1': ['March', 'May', 'September'],
 'only in l2': ['October', 'April']}

### Q13

Q13: write a UDF to check if a number is prime or not.

In [15]:
x = int(input('Enter a number : '))
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(test_prime(x))

Enter a number : 6
False

### Q14

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [16]:
num = int(input('Enter a number : '))
fact = 1
if num < 0:
    print('factorial does not exist for negative numbers')
elif num == 0:
   print('The factorial of 0 is 1')
else:
    for i in range(1, num + 1):
        fact = fact * i
    print('Factorial of',num ,'is',fact)

Enter a number : 8
Factorial of 8 is 40320

### Q15

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [17]:
num = int(input('Enter a number : '))
dict1 = {i: i * i for i in range(1, num + 1)}
dict1

Enter a number : 8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### Q16

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [18]:
numbers = input('Enter a sequence of comma-separated numbers : ' )

numbers_split = numbers.split(',')

number_tuple = tuple(numbers_split)

print(numbers_split , end = ' ')
print(number_tuple)

Enter a sequence of comma-separated numbers : 34,67,55,33,12,98
['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

### Q17

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [19]:
words = input('Enter a comma separated sequence of words : ')
words_split = words.split(',')
words_split.sort()
print ((', ').join(words_split))

Enter a comma separated sequence of words : uma, agrawal
 agrawal, uma

### Q18

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [20]:
words = input('Enter a sequence of whitespace separated words : ')
words1 = words.split(' ')
words1 = set(words1)
sorted_words = sorted(words1)
print((' ').join(sorted_words))

Enter a sequence of whitespace separated words : hello world and practice makes perfect
and hello makes perfect practice world

### Q19

##Q19

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [21]:
sentense = input('Enter a sentence : ')
sentense = list(sentense)

upper,lower = 0 , 0

for i in sentense:
    if i.isupper():
        upper = upper + 1
        
    if i.islower():
        lower = lower + 1
    else:
        pass
        
print('UPPER CASE ',upper,'LOWER CASE ',lower)

Enter a sentence : Hello World
UPPER CASE  2 LOWER CASE  8

### Q20

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [22]:
str1 = input('Enter a string : ')
str1 = str1[::-1]
print(str1)

Enter a string : agrawal uma
 amu lawarga